<nav class="navbar navbar-dark bg-dark;nav justify-content-end">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="color:white ;"><b><u>Play Instruments</u></b></a>
      </li>  
      <li class="nav-item">
            <a class="nav-link" href="/contact" style="color:white ;">Contact Us</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="" style="color:white ;">Signout</a>
        </li>
      </ul>
      </nav>
<div class="container">
    
    <div class="row">
        <h1 align="center" style="font-family: 'Brush Script MT', cursive; font-size: 60px; color:rgb(255, 255, 255)">View Your Favourite Instruments!</h1>
       <h3 align="left" style="font-family: 'Brush Script MT', cursive;  color:rgb(255, 255, 255)">Click on your favourite instrument to view their details!!</h3>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
           <br><br><br> <div class="row g-4">
                <div *ngFor="let i of data2" class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{i.iaddname}}</h5>
                          <p class="card-text">{{i.iadddetails}}</p>
                          <p class="card-text">{{i.iaddref}}</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

