<nav class="navbar navbar-expand-lg bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://i.pinimg.com/564x/50/9d/39/509d3960d83ba32725848e0ecbf175f9.jpg" alt="" width="30" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><p style="color:white;">Home</p></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><p style="color:white;">About</p></a>
          </li>
          
        </ul>
        <a href="/admin"><button class="btn btn-outline-success">Admin Login</button></a>
      </div>
    </div>
  </nav>
<br>
<div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <h1 align="center" style="color:white ;"><b><i>ABOUT</i></b></h1>
         <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <p align ="center" style="font-size: large;color:rgb(255, 255, 255)"><b><i>Any musical instrument that makes or changes sounds using electric, and typically electronic, means is referred to as an electronic instrument. The composer controls the electronic component in such music, and the sounds are created or altered electronically. Electronic instruments include those, like the electric guitar, that produce sound acoustically or mechanically but magnify it electrically or electronically. However, both their design and the sound they produce are frequently quite similar to those of their non-electronic equivalents. Learn about these wonderful instruments on this online platform for free!</i></b></p></div>
        </div>
    </div>
</div>
