<nav class="navbar navbar-expand-lg bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://i.pinimg.com/564x/50/9d/39/509d3960d83ba32725848e0ecbf175f9.jpg" alt="" width="30" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/userhome"><p style="color:white;">Home</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/bongo"><p style="color:white;">Play Instruments</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/contact"><p style="color:white;">Contact</p></a>
          </li>
          </ul>
    
           <a href=""><button class="btn btn-outline-success">Signout</button></a>
          
      </div>
    </div>
  </nav>
  

<div class="container">
    <h1 align="center" style="font-family: 'Brush Script MT', cursive; font-size: 60px; color:rgb(255, 255, 255)">Provide your feedback!</h1>
<p><strong>Your feedback is very important to us. It helps us to provide a better user experience.<br> Tell us your opinion to improve our website.</strong></p>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <form class="row g-3 needs-validation" novalidate #feed="ngForm" (ngSubmit)="feed.valid && feedbck()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  for="" class="form-label" style="color:white ;"><b>Feedback:</b></label><br>
                    <textarea name="" id="" cols="150" rows="10" [(ngModel)]="feedbackdata.message" name="Feedback" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a feedback !
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <button class="btn btn-primary">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
