

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 align="center" style="font-family: 'Brush Script MT', cursive; font-size: 60px; color:rgb(255, 255, 255)">Admin Login</h1>
            <div class="row g-3">
                <form #adminlogin="ngForm" (ngSubmit)="Enterdetails()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
                    <label for="" class="form-label" style="color:white ;"><b> Admin Username: </b></label>
                <input type="text" class="form-control" style="max-width: 566px" [(ngModel)]="admin.name" name="name">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
                <label for="" class="form-label" style="color:white ;"><b> Admin Password: </b></label>
            <input type="password" class="form-control" style="max-width: 566px ;" [(ngModel)]="admin.password" name="password">
        </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col xxl-4">
                    <a href="/adminhome"><button class="btn btn-dark">Login</button></a>
                </div>
            </form>
                <div class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col xxl-8">
                    <a href=""><button class="btn btn-dark">Back to home</button></a>
                </div>
                
            </div>
        </div>
    </div>
</div>