<nav class="navbar navbar-expand-lg bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://i.pinimg.com/564x/50/9d/39/509d3960d83ba32725848e0ecbf175f9.jpg" alt="" width="30" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><p style="color:white;">Home</p></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><p style="color:white;">About</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin"><p style="color:white;">Admin</p></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1 align="center" style="font-family: 'Brush Script MT', cursive; font-size: 60px; color:rgb(255, 255, 255)">Admin Login</h1>
            <div class="row g-3">
                <form class="row g-3 needs-validation" novalidate #adminlogin="ngForm" (ngSubmit)="adminlogin.valid && Enterdetails()">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
                    <label for="" class="form-label" style="color:black ;"><b> Admin Username: </b></label>
                <input placeholder="Username" type="text" class="form-control" style="max-width: 566px" [(ngModel)]="admin.name" name="name" required>
                <div class="invalid-feedback">
                    Please provide a valid Username !
                  </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
                <label for="" class="form-label" style="color:black ;"><b> Admin Password: </b></label>
            <input placeholder="Password" type="password" class="form-control" style="max-width: 566px ;" [(ngModel)]="admin.password" name="password" required>
            <div class="invalid-feedback">
                Please provide a valid Password !
              </div>
        </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col xxl-4">
                    <a href="/adminhome"><button class="btn btn-dark">Login</button></a>
                </div>
            </form>
                <div class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col xxl-8">
                    <a href=""><button class="btn btn-dark">Back to home</button></a>
                </div>
                
            </div>
        </div>
    </div>
</div>