<nav class="navbar navbar-expand-lg bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://i.pinimg.com/564x/50/9d/39/509d3960d83ba32725848e0ecbf175f9.jpg" alt="" width="30" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><p style="color:white;">Home</p></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"><p style="color:white;">About</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin"><p style="color:white;">Admin</p></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

<br><h1 align="center" style="color:white ;"><b>Sign Up</b></h1>
<div class="container">
    <p><strong><i>Please provide the following details to sign up!</i></strong></p><br>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <form class="row g-3 needs-validation" novalidate #formnew="ngForm" (ngSubmit)="formnew.valid && signupdata()">

                <div class="col col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                    <label for="" class="form-label" style="color:white ;"><b>Username:</b></label>
                    <input placeholder="Username" type="text" class="form-control" [(ngModel)]="signdata.signusername" name="Username" style="max-width: 500px;" minlength="4" required>
                    <div class="invalid-feedback">
                        Please provide a valid Username (Minimum 4 characters) !
                      </div>
                </div>
                <div class="col col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                    <label for="" class="form-label" style="color:white ;"><b>E-mail:</b></label>
                    <input placeholder="E-mail" type="email" class="form-control" [(ngModel)]="signdata.signemail" name="E-mail" style="max-width: 500px;" required>
                    <div class="invalid-feedback">
                        Please provide a valid E-mail !
                      </div>
                </div>
                <div class="col col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                    <label for="" class="form-label" style="color:white ;"><b>Phone:</b></label>
                    <input placeholder="Phone Number" type="number" class="form-control" [(ngModel)]="signdata.signphone" name="Phone" style="max-width: 500px;" minlength="10" maxlength="10" required>
                    <div class="invalid-feedback">
                        Please provide a valid Phone Number !
                      </div>
                </div>
                <div class="col col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                    <label for="" class="form-label" style="color:white ;"><b>Password:</b></label>
                    <input placeholder="Password" type="password" class="form-control" [(ngModel)]="signdata.signpassword" name="Password" style="max-width: 500px;" minlength="4" required>
                    <div class="invalid-feedback">
                        Please provide a Password (Minimum 4 characters)!
                      </div>
                </div>
                <div class="col col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                   <br> <a href="/userhome"><button class="btn btn-primary" style="width:200px;color:white ;" ><b>Submit</b></button></a>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
