<h1 align="center" style="color:white ;">FORGOT YOUR PASSWORD?</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col xxl-12">
                    <label for="" class="form-label" style="color:white ;">Enter your Email:</label>
                <input type="text" class="form-control" style="max-width: 566px ;">
            </div>
                <div class="col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col xxl-4">
                    <button class="btn btn-dark">Request password reset</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col xxl-8">
                    <a href="/signup"><button class="btn btn-dark">Back to sign in</button></a>
                </div>
            </div>
        </div>
    </div>
</div>