<nav class="navbar navbar-expand-lg bg-dark" >
  <div class="container-fluid">
      <a class="navbar-brand" href="">
          <img src="https://i.pinimg.com/564x/50/9d/39/509d3960d83ba32725848e0ecbf175f9.jpg" alt="" width="30" height="24">
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""><p style="color:white;">Home</p></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about"><p style="color:white;">About</p></a>
        </li>
        
      </ul>
      <a href="/admin"><button class="btn btn-outline-success">Admin Login</button></a>
    </div>
  </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12">
          <h1 align="center" style="font-family: 'Brush Script MT', cursive; font-size: 60px; color:rgb(255, 255, 255)">Electronic musical Instruments</h1>
          <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img height="450px" width="device-width" src="https://images.alphacoders.com/551/thumb-1920-551124.jpg" class="d-block w-100" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>A free and fun way to learn about music!</h5>
                              <p>Bring the musical instruments you love to your browser.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img height="450px" width="device-width" src="https://images7.alphacoders.com/685/thumb-1920-685093.jpg" class="d-block w-100" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Learn about the piano online!</h5>
                              <p>Learn about playing notes on the piano.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img height="450px" width="device-width" src="https://images2.alphacoders.com/611/thumb-1920-611494.jpg" class="d-block w-100" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Learn about the drums online!</h5>
                              <p>Learn about electronic drums and their capabilities.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img height="450px" width="device-width" src="https://images3.alphacoders.com/263/thumb-1920-26349.jpg" class="d-block w-100" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Learn about the guitar online!</h5>
                              <p>Learn about electronic guitar and their capabilities.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img height="450px" width="device-width" src="https://images.unsplash.com/photo-1639254241706-68af6a66474b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="Error">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Indulge into the world of Electronic music!</h5>
                              <p>Learn about different Electronic instruments and their play styles.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><b>
            <p style="font-size: large;color:rgb(255, 255, 255)"><i>Learn about extraordinary Electronic musical instruments using this online platform. You don't need to download or install anything and you can play free of charge. Just select your favourite instrument on your computer, tablet or mobile. Sign up today and learn about them all!</i></p>
            </b> </div>
    </div>
    <div class="container">
        <div class="row g-3">
                <div class="col col-12 col-sm-12 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                 <a href="/login"><button style="height:60px;width: 300px" class="btn btn-primary"><b>Login</b></button></a>
                </div>
                <div class="col col-12 col-sm-12 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="/signup"><button style="height:60px;width:300px" class="btn btn-primary"><b>Sign Up</b></button></a>
                </div>
                </div>
                </div>
            </div>
       
    




